.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 1vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 
.stateList {
  height: 3vh;
  border-radius: 8px;
  cursor: pointer;
}

.stateList option{
  width: 100;
} */

.formControl, .MuiFormControl-root{
  margin: 5px;
  width: 300px;
  color: white;
}

#selectStateLabel {
  color: white;  
}

.MuiFormControl-root .MuiSelect-root {  
  color: white;
  border: white;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;
}