.root, .MuiPaper-root, .MuiCard-root {
    min-width: 20vw;
    max-width: 80vw;
    min-height: 35vh;
    background: #eeeeee;
}
.title {
    font-size: 25px;
}

@media screen and (min-height:900px){
    .root, .MuiPaper-root, .MuiCard-root {
        min-height: 25vh;
    }
    .title {
        font-size: 25px;
    }
}
@media screen and (max-height:900px){
    .root, .MuiPaper-root, .MuiCard-root {
        min-width: 15vw;
        min-height: 15vh;
    }
    .title {
        font-size: 20px;
        margin-top: 0;
    }    
}

.confirmed {
    color: #f44336;
}
.recovered {
    color: #4caf50;
}
.active {
    color:#03a9f4;
}
.deaths {
    color: #616161;
}    
.deltaconfirmed {
    color: #ef9a9a;
}
.deltarecovered {
    color: #a5d6a7;
}
.deltadeaths {
    color: #9e9e9e;
}
.lastUpdated {
    color: #78909c;
}